.series {
  width: 100%;
  margin: 100px 0;
  font-size: 25px;
  font-weight: bold;
  border: 2px solid #815e57;
  background-color: #815e575b;
  padding: 0 10px;
  &-rows {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  &-results {
    width: 25px;
    padding: 5px;
    color: #fff;
  }
  &-hide {
    color: transparent;
    margin-right: 29px;
  }
  &-img {
    width: 70px;
    height: 70px;
  }
  &-num {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-answer {
    width: 39px;
    padding: 5px;
    border: solid 1px#fff;
    font-size: 20px;
  }
}